  @media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
  }
  ul.topnav.responsive li { 
    display: inline;
    text-align: left;
  }
  ul.topnav.responsive li a {
    display: inline-block;    
  }  
@media screen and (max-width:680px) {
  ul.topnav li.icon {
    display: inline-block;   
   }
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;     
}
ul.topnav li {
  position: relative;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none; 
  font-size: 15px;
}
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
  }
ul.topnav li a:hover {
  background-color: #555;
  display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar-nav>li{
  position: relative;
  display: inline-block;
  color: #9d9d9d;
  text-align: center;
  text-decoration: none; 
  line-height: 20px;
}
@media (min-width: 768px){
.navbar-nav>li {
  position: relative;
  display: inline-block;
  color: #9d9d9d;
  text-align: center;
  text-decoration: none; 
  line-height: 20px;
  float: none;
}
.listText{
  padding-left: 15px;
}
}
@media(width:768px){
    body{
    height:1000px;
  }
  #app{
    height: 1000px;
  }
  .home{
    height:1000px;
  }
  #homeHeader {
  height: 770px;
  padding: 150px;
  background-image:url('../public/images/background.jpg');
  background-size:cover;
  background-repeat: none;
  background-position: 50% 45%; 
  text-align: center;
  }
}
@media(width: 1024px){
  body{
    height:1366px;
  }
  #app{
    height: 1366px;
  }
  .home{
    height:1366px;
  }
  #homeHeader {
  height: 1000px;
  padding: 290px;
  background-image:url('../public/images/background.jpg');
  background-size:cover;
  background-repeat: none;
  background-position: 50% 45%; 
  text-align: center;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica,"Trebuchet MS", sans-serif;
  padding-top: 50px;
}
/*LandingPage*/
.home {
  text-align: center;
  
}
.homeHeader {
  height: 500px;
  padding: 20px;
  background-image:url('../public/images/background.jpg');
  background-size:cover;
  background-repeat: none;
  background-position: 50% 45%;
  text-align: center;
 
}
.homeTitle{
  padding-top: 18%;
  text-align:center;
  color: white;
  font-variant: small-caps;
  font-size: 65px;
   text-shadow: 2px 3px 2px black;
}
.homeIntro {
  font-size: large;
}
/*Registration Page*/
.register{
  background-image: url('../public/images/register.jpg');
  background-size:cover;
  background-repeat: none;
  background-position: 50% 45%; 
  height: 500px;
  text-align: center;
}
.registration{
  padding-top: 200px;
  color: white;
  font-size: 65px;
  text-align:center;
  font-variant: small-caps;
   text-shadow: 2px 3px 2px black;
}
#regAuth{
  position:relative;
  padding-top: 200px;
}
/*Login page*/
.loginHeader{
  background-image: url('../public/images/login.jpg');
  background-size:cover;
  background-repeat: none;
  background-position: 50% 45%; 
  height: 500px;
  text-align: center;
}
.loginForm{
  padding-top: 100px;
  color: white;
  font-size: 65px;
  text-align:center; 
  font-variant: small-caps;
  text-shadow: 2px 3px 2px black;
}
#formAuth{
  position:relative;
  padding-top: 300px;
}
/*Search Page*/
.search {
  text-align: center;
}
.searchHeader{
  background-image: url('../public/images/searchpage.jpg');
  background-size:cover;
  background-repeat: none;
  background-position: 40% 65%;
  height: 500px;
  padding: 20px;
  text-align:center;
}
.searchresults{
  padding-top: 150px;
  color: white;
  font-size: 65px;
  text-align:center;
  font-variant: small-caps;
  text-shadow: 2px 3px 2px black;
  text-align: center;
}
.searchTitle{
 text-align:center;
}
.searchImage{
  height: 80%;
  width: 80%;
}
.col-md-4{
  height: 300px;
}
.searchtext{
  text-align:center;
}
.secondHomeTitle{
  padding-top: 180px;
  color: white;
  font-size: 65px;
  text-align:center;
  font-variant: small-caps;
  text-shadow: 2px 3px 2px black;
  text-align: center;
}
#searchBar{
  text-align:center;
  height: 27px;
}
.submitbutton{
  height:27px;
  
}
/*RecipePage*/
.recipe-header{
  height: 500px;
  padding: 20px;
  text-align: center;
}
.recipe-result{ 
   font-variant: small-caps;
}
.recipeImage{
  height: 80%;
  width: 80%;
}
a{
  color: black;
}
.checkbox-inline{
 display: inline;
 padding: 20px;
}
.ingredList{
  text-decoration: underline;
}
.recipe-ingred{
  padding: 20px;
  font-size: 15px;
  display:inline;
}

/*CurrentCart*/
.groceryHeader{
  background-image: url('../public/images/recipes.jpg');
  background-size:cover;
  background-repeat: none;
  background-position: 40% 65%; 
  height: 500px;
  padding: 20px;
  text-align: center;
}
.groceryTitle{
  color:white;
  text-align:center;
  font-size: 65px;
  padding-top: 170px;
  font-variant: small-caps;
}
.groceryList{
  text-align:center;
  text-decoration: underline;
}

/*User Page*/
.userHeader{
  background-image: url('../public/images/userpage.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: 40% 65%;
  height: 500px;
  padding: 20px;
  text-align: center;
}
.userTitle{
  text-align: center;
  color: white;
  font-size: 65px;
  padding-top: 170px;
  font-variant: small-caps;
  text-shadow: 2px 3px 2px black;
  text-align: center;
}
.empty{
  text-align:center;
}
.results-header{
  background-image: url('../public/images/seconsearch.jpg');
  background-size:cover;
  background-repeat: none;
  background-position: 40% 65%;
  height: 500px;
  padding: 20px;
  text-align:center;
}
/*buttons*/

.btn-primary {
    color: black;
    background-color: darkgrey;
    border-color: black
}
.btn-primary:hover {
    color: darkgrey;
    background-color: black;
    border-color: black
}

.inputform{
  text-align: center;
}